*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: rgb(39, 39, 41);
}

.hamburger{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 5;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.show-menu .hamburger{
    right: 16rem;

}

.line{
    width: 100%;
    height: .1rem;
    padding: 1px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
    transition: transform .7s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.4rem, .9rem);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.9rem);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background: linear-gradient(329.54deg, #111111 0%, #222222 100%);
    box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .8s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family:sans-serif;
    font-size: 2rem;
    color: rgb(245, 245, 245);
    transition: color .7s;
}

.menu-link:hover{
    color: rgb(81, 14, 225);
    transition: color .7s;
}