@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

*{
	font-family: "Source Sans Pro", sans-serif;
	margin: 0;
	padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    color: black;
    background-color: rgb(39, 39, 41);
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
h3{
  color: white;
}
p{
	color: white;
}
.fotoPerfil {
	display: block;
	margin: 25px 0px 30px 0px;
	width: 330px;
	height: 330px;
	border-radius: 15px;
	box-shadow: 5px 5px  white;
}

#container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.nome {
	display:flex;
	border-radius: 15px;
	flex-direction: row;
	width: 60%;
	align-items: center;
	
}

.redes {
	margin-top: 10px;
	margin-bottom: 20px;
	list-style: none;
	display: inline-block;
	padding-right: 1vw;
}

.nomelucas {
	 color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

.informacoes {
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}
.sobre p {
	padding-bottom: 5px;
}
.sobre h3{
	padding: 5px;
}
.h2TituloConteudo {
	padding: 20px;
}
a {
	position: relative;
	text-decoration: none;
	display: flex;
	margin: 0 auto;
	transition: all 0.3s ease-in-out;
	padding: 10px;
}
.conteudo a {
	display: inline-block;
	text-decoration: none;
	color: white;
	margin: 5px;
	text-shadow: 5px 5px  white;
}

.redes a {
	padding: 0px !important;
}

.redes a:hover {
	border-radius: 100%;
	transition: all 0.3s;
	position: relative;
	text-decoration: none;
}

.conteudo a:hover {
	padding: 10px;
	border-radius: 25px;
	transition: all 0.3s ease-in-out;
	position: relative;
}
.experienciaCard a {
	font-weight: bold;
}
.experienciaCard a:hover {
	border: none;
	background-color: #1c102600;
	color: #cacaca;
}

.experienciaCard a:after {
	content: "";
	position: absolute;
	background-color: #cacaca;
	height: 3px;
	width: 0;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: 0.3s;
}
.experienciaCard a:hover:after {
	width: 100%;
}

a.cvLink {
	margin: 0 auto;
	margin-top: 15px;
	padding: 5px 15px 5px 15px;
	background-color: #370268;
	border: 2px solid #ebebeb;
	border-radius: 10px;
	cursor: pointer;
}

a.cvLink {
	font-weight: bold;
	color: #ebebeb;
	text-decoration: none;
}

a.cvLink:hover {
	background-color: #1a1026;
	transition: all 0.3s;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
}
#redeSocial {
	text-align: center;}
h1 {
	text-align: center;
	
}

h2 {
	margin-top: 0px;
	
}